<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <h1 class="page-title">Register</h1>
    <div class="login-container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <form method="post">
        <input name="username" placeholder="Username" required /><br />
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        /><br />
        <input type="submit" value="Register" />
      </form>
      <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
  </body>
</html>
